@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap');

* {
  margin: 0;
  font-family: 'Raleway';
  color: #333;
  align-items: center;
}

.header {
  color: #c50404;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #a8a3a3;
}

.header a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

a:hover {
  color: #ff1313;
}

.title {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
  padding: 20px;
}

.home,
/* .posts, */
.login,
.activities,
.register
 {
  padding: 70px 0;
  text-align: center;
}

.header {
  background: #ffff;
  position: sticky;
  top: 0;
}

.createActivity {
  color: pink;
}
